.resume {
  background: var(--neutralLight);
}

.resume-header .fa,
.resume-timeline-point .fa {
  margin-right: 0.25rem;
}

.resume-item-info .fa,
.language-list .fa {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

.resume-section {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 20px 30px;
}

.resume-header,
.resume-header-link {
  color: var(--neutralLight);
}

.resume-title {
  line-height: 2em;
  margin: 0.25em 0;
}

.resume-timeline {
  page-break-inside: avoid;
  page-break-after: auto;
}

.resume-timeline-point {
  line-height: 24px;
  font-variant: small-caps;
}

.resume-timeline-content {
  margin-top: 0;
  margin-left: 8px;
  border-left: 5px solid var(--neutral);
  padding-top: 2px;
  padding-bottom: 20px;
  padding-left: 12px;
}

.resume-spacer {
  margin-bottom: 5px;
}

/* Profile */
.profile-picture {
  border-radius: 50%;
  width: 128px;
}

/* Workplace */
.resume-item-title {
  margin: 10px 0;
}

.resume-item-info {
  margin-bottom: 7px;
}

.resume-item-picture,
.resume-item-list-item-icon {
  margin-right: 5px;
  width: 24px;
  text-align: center;
}

/* Language */
.language-list {
  width: 100%;
  text-align: left;
}

.language-list-item {
  width: 25%;
}
