.resume {
  background: var(--neutralLight);
}

.resume-header .fa,
.resume-timeline-point .fa {
  margin-right: 0.25rem;
}

.resume-item-info .fa,
.language-list .fa {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

.resume-section {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 1.5rem 2rem;
}

.resume-header-edit,
.resume-header {
  transition: background var(--animationDurationLg) var(--animationEasing);
}

.resume-header-edit {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-gap: 1rem;
  padding: 1rem;
}

.resume-header-edit input[type="text"],
.resume-header-edit button {
  margin: 0;
}

.resume-reset,
.resume-save {
  min-width: 80px;
  transition: all var(--animationDuration) var(--animationEasing);
  transition-property: filter, opacity;
}

.resume-reset[disabled],
.resume-save[disabled] {
  cursor: not-allowed;
  filter: grayscale(100%);
  opacity: 0.9;
}

.resume-reset {
  background: var(--neutralLight);
}

.resume-save {
  background: var(--success);
  color: var(--neutralLight);
}

.resume-header,
.resume-header-link {
  color: var(--neutralLight);
}

.resume-title {
  line-height: 2em;
  margin: 0.25em 0;
}

.resume-timeline {
  page-break-inside: avoid;
  page-break-after: auto;
}

.resume-timeline-point {
  line-height: 24px;
  font-variant: small-caps;
}

.resume-timeline-content {
  margin-top: 0;
  margin-left: 8px;
  border-left: 5px solid var(--neutral);
  padding-top: 2px;
  padding-bottom: 20px;
  padding-left: 12px;
}

.resume-spacer {
  margin-bottom: 5px;
}

/* Profile */
.profile-picture {
  border-radius: 50%;
  width: 128px;
}

/* Workplace */
.resume-item-title {
  margin: 10px 0;
}

.resume-item-info {
  margin-bottom: 7px;
}

.resume-item-picture,
.resume-item-list-item-icon {
  margin-right: 5px;
  width: 24px;
  text-align: center;
}

/* Language */
.language-list {
  width: 100%;
  text-align: left;
}

.language-list-item {
  width: 25%;
}

/* Print */
@media print {
  .resume-header-edit {
    display: none;
  }
}
