.page-container {
  position: relative;
  background: var(--primary);
}

.page-fade-out {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity var(--animationDuration) var(--animationEasing);
  opacity: 0;
}
