/* Flexbox */
/* https://css-tricks.com/using-flexbox/ */
.flex,
.flex-row,
.flex-row-reverse,
.flex-column,
.flex-column-reverse {
  display: flex;
}

/* flex-direction */
/* Fix Firefox overflow issues: */
/* http://stackoverflow.com/questions/28636832/firefox-overflow-y-not-working-with-nested-flexbox */
.flex-row,
.flex-row-reverse,
.flex-column,
.flex-column-reverse {
  min-width: 0;
  min-height: 0;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

/* flex-wrap */
.flex-nowrap { flex-wrap: nowrap; }
.flex-wrap { flex-wrap: wrap; }
.flex-wrap-reverse { flex-wrap: wrap-reverse; }

/* justify-content */
.justify-content-start { justify-content: flex-start; }
.justify-content-end { justify-content: flex-end; }
.justify-content-center { justify-content: center; }
.justify-content-space-between { justify-content: space-between; }
.justify-content-space-around { justify-content: space-around; }

/* align-items */
.align-items-start { align-items: flex-start; }
.align-items-end { align-items: flex-end; }
.align-items-center { align-items: center; }
.align-items-stretch { align-items: stretch; }
.align-items-baseline { align-items: baseline; }

/* align-self */
.align-self-start { align-self: flex-start; }
.align-self-end { align-self: flex-end; }
.align-self-center { align-self: center; }
.align-self-stretch { align-self: stretch; }
.align-self-baseline { align-self: baseline; }
