/* Full-height content */
html,
body {
  height: 100%;
}

body {
  line-height: 24px;
  color: var(--foreground);
  font-family: var(--fontText);
}

h1 { font-size: var(--h1FontSize); }
h2 { font-size: var(--h2FontSize); }
h3 { font-size: var(--h3FontSize); }
h4 { font-size: var(--h4FontSize); }
h5 { font-size: var(--h5FontSize); }
h6 { font-size: var(--h6FontSize); }

table {
  page-break-inside: auto;
}

tr {
  page-break-inside: avoid;
  page-break-after: auto;
}
